/*

Template 2098 Health

http://www.tooplate.com/view/2098-health

*/

  @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600');

  body {
    background: #ffffffff;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    
  }


  /*---------------------------------------
     TYPOGRAPHY              
  -----------------------------------------*/

  h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
    line-height: inherit;
  }

  h1,h2,h3,h4 {
    letter-spacing: -1px;
  }

  h5 {
    font-weight: 500;
  }

  h1 {
    color: #252525;
    font-size: 5em;
  }

  h2 {
    color: #272727;
    font-size: 3em;
    padding-bottom: 10px;
  }

  h3 {
    font-size: 1.8em;
    line-height: 1.2em;
    margin-bottom: 0;
  }

  h4 {
    color: #454545;
    font-size: 1.8em;
    padding-bottom: 2px;
  }

  h6 {
    letter-spacing: 0;
    font-weight: normal;
  }

  p {
    color: #2ca6f7ff;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
  }

 

  /*---------------------------------------
     GENERAL               
  -----------------------------------------*/

  html{
    -webkit-font-smoothing: antialiased;
  }

  a {
    color: #252525;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none !important;
  }

  a:hover, a:active, a:focus {
    color: #222fc4ff;
    outline: none;
  }

  ::-webkit-scrollbar{
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #000000;
  }

  .section-title {
    padding-bottom: 20px;
  }

  .section-title h2 {
    margin-top: 0;
  }

  .section-btn {
    background: #222fc4ff;
    border: 0;
    border-radius: 3px;
    color: #ffffff;
    font-size: inherit;
    font-weight: 500;
    padding: 14px 20px;
    transition: transform 0.1s ease-in;
    transform: translateX(0);
  }

  .section-btn:hover {
    transform: translateY(-5px);
  }

  .text-align-right {
    text-align: right;
  }

  .text-align-center {
    text-align: center;
  }

  .border-top {
    border-top: 1px solid #f2f2f2;
    margin-top: 4em;
    padding-top: 2.5em;
  }

  .btn-gray {
    background: #393939;
  }

  .btn-blue {
    background: #4267b2;
  }

  .news-thumb {
    background: #ffffff;
    border-radius: 10px;
  }
  .news-thumb img {
    border-radius: 10px 10px 0 0;
  }

  .news-info {
    padding: 30px;
    text-align: left;
  }
  .news-info span {
    display: block;
    letter-spacing: 0.5px;
  }
  .news-info h3 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .author {
    border-top: 1px solid #f0f0f0;
    padding-top: 1.5em;
    margin-top: 2em;
  }
  .author img,
  .author .author-info {
    display: inline-block;
    vertical-align: top;
  }
  .author-info h5 {
    margin-bottom: 0;
  }
  .author img {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }


  #about, #team, #news,
  #news-detail {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  #news, #service {
    text-align: center;
  }

  #google-map {
    line-height: 0;
    margin: 0;
    padding: 0;
  }

  /*---------------------------------------
       PRE LOADER              
  -----------------------------------------*/
/*
  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #ffffff;
  }

  .spinner {
    border: 1px solid transparent;
    border-radius: 3px;
    position: relative;
  }

  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45px;
    height: 45px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 1px solid #575757;
    border-top-color: #ffffff;
    animation: spinner .9s linear infinite;
  }

  @-webkit-@keyframes spinner {
    to {transform: rotate(360deg);}
  }

  @keyframes spinner {
    to {transform: rotate(360deg);}
  }


*/
  /*---------------------------------------
      MENU              
  -----------------------------------------*/
 /*
  header {
    background: #ffffff;
    border-bottom: 1px solid #f2f2f2;
    display: flex;
    height: 45px;
  }

  header .col-md-8 {
    padding-right: 0;
  }

  header p,
  header span {
    font-size: 12px;
    line-height: 24px;
    padding-top: 12px;
  }

  header a,
  header span {
    color: #2e95efff;
  }

  header span {
    font-weight: 500;
    display: inline-block;
    padding: 11px 15px;
  }

  header span.date-icon {
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
    padding-right: 19px;
    padding-left: 19px;
  }

  header span i {
    color: #222fc4ff;
    margin-right: 5px;
  }

*/

  /*---------------------------------------
      header              
  -----------------------------------------*/
/* Cố định toàn bộ header + navbar */
/*  .header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #ffffff;
  box-shadow: 0 2px 8px rgba(0,0,0,.075);
}
#about h2 {
  font-size: 40px;    
  font-weight: 700;   
  color: #1a237e;     
}
.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;       
  margin-top: 20px;
}

.profile img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
  
}
  .navbar-default {
    background: #ffffff;
    box-shadow: 0 2px 8px rgba(0,0,0,.075);
    border: none;
    margin-bottom: 0;
    padding: 10px;
  }

  .navbar-default .navbar-brand {
    color: #1a237e;
    font-weight: 500;
    font-size: 30px;
  }

  .navbar-default .navbar-brand .fa {
    color: #1a237e;
  }
  .navbar-brand {
  color: #1a237e !important;  
  font-weight: bold;          
  font-size: 22px;            
  text-decoration: none;      
  }

  .navbar-default .navbar-nav li.appointment-btn {
    margin: 3px 0 0 20px;
  }

  .navbar-default .navbar-nav li.appointment-btn a {
    background: #222fc4ff;
    border-radius: 3px;
    color: #ffffff;
    font-weight: 600;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .navbar-default .navbar-nav li.appointment-btn a:hover {
    background: #4267b2;
    color: #ffffff !important;
  }

  .navbar-default .navbar-nav li a {
    color: #555555;
    font-size: 12px;
    font-weight: 500;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
  }

  .navbar-default .navbar-nav > li a:hover {
    color: #0989d8ff !important;
  }

  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #555555;
    background-color: transparent;
  }

  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #393939;
    background-color: transparent;
  }

  .navbar-default .navbar-toggle {
    border: none;
    padding-top: 10px;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background: #393939;
    border-color: transparent;
  }

  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus { 
    background-color: transparent;
  }

  ul.nav.navbar-nav.navbar-right li a {
    color: #333 !important;   
    font-size: 14px;
    font-weight: 600;
    transition: color 0.3s ease;
  }
  ul.nav.navbar-nav.navbar-right li a:hover {
    color: #1999eeff !important; 
  }

  ul.nav.navbar-nav.navbar-right li.login-btn a {
    background-color: #1999eeff;  
    color: #fff !important;  
    padding: 8px 15px;           
    border-radius: 20px;         
    text-decoration: none;       
    display: inline-flex;        
    align-items: center; 
    margin-top: 7px;       
    transition: all 0.3s ease;   
    border: 2px solid transparent;
  }
  ul.nav.navbar-nav.navbar-right li.login-btn a:hover {
    background-color: #fff !important;     
    color: #1999eeff !important;           
    border: 2px solid #1999eeff;           
  }

  ul.nav.navbar-nav.navbar-right li.login-btn a:hover i {
    color: #1999eeff !important;           
  }
     */
  /*---------------------------------------
      HOME              
  -----------------------------------------*/

  /* #home h1 {
    color: #ffffff;
    padding-bottom: 10px;
    margin-top: 0;
  }

  #home h3 {
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    line-height: inherit;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0;
  }

  .slider .container {
    width: 100%;
  }

  .slider .owl-dots {
      position: absolute;
      top: 575px;
      width: 100%;
      justify-content: center;
  }

  .owl-theme .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
    margin: 5px 7px;
    border: 2px solid #d9d9d9;
    background: transparent;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px;
  }

  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background-color: #ffffff;
    border-color: transparent;
  }

  .slider .caption {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: rgba(20,20,20,0.2);
    height: 100%;
    color: #fff;
    cursor: e-resize;
  }

  .slider .item {
    background-position: inherit;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    height: 650px;
  }

  .slider .item-first {
    background-image: url(../images/slider1.jpg);
  }

  .slider .item-second {
    background-image: url(../images/slider2.jpg);
  }

  .slider .item-third {
    background-image: url(../images/slider3.jpg);
  }
 */


  /*---------------------------------------
      ABOUT              
  -----------------------------------------*/
/*
  #about {
    background: url('../images/bac1.jpg') no-repeat top center;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .profile img,
  .profile figcaption {
    display: inline-block;
    vertical-align: top;
    margin-top: 1em;
  }
  .profile img {
    border-radius: 100%;
    width: 65px;
    height: 65px;
    margin-right: 1em;
  }
  .profile figcaption h3 {
    margin-top: 0;
  }

  #about h6 {
    color: #858585;
    margin: 0;
  }

  .about-info p {
    color: #000; 
  }

  .about-info h2,
  .about-info h3,
  .about-info figcaption p{
    color: #1a237e; 
  }
*/
  /*---------------------------------------
      Tiemchung               
  -----------------------------------------*/
/*
  .tiemchung-section {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-bottom: 30px;
}

.image-grid img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 15px;
}

.info-text h2 {
  color: #1a237e;
  font-size: 28px;
  margin-bottom: 10px;
  font-weight: bold;
}

.info-text h4 {
  color: #8b8b8bff;
  font-size: 17px;
  margin-bottom: 20px;
  font-weight: 600;
}

.info-text h3 {
  color: #1a237e;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 600;
  text-align: left;
}

.info-text p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
  color: #333;
  text-align:justify;
}
 .service-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.service-table th,
.service-table td {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: left;
  vertical-align: top;
}

.service-table th {
  background-color: #f5f5f5;
  font-weight: bold;
  color: #333;
}

.custom-btn {
  background: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%);
  color: white;
  font-size: 13px;
  font-weight: 600;
  padding: 10px 22px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  margin-top: 15px;
}

.custom-btn:hover {
  background: linear-gradient(135deg, #8acdfaff 0%, #2e0cecff 100%);
  transform: translateY(-3px);
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.2);
}

.custom-btn:active {
  transform: scale(0.96);
}
.custom-btn i {
  margin-left: 8px;
  transition: transform 0.3s ease;
}

.custom-btn.active i {
  transform: rotate(180deg);
} */


  /*---------------------------------------
     SERVICE              
  -----------------------------------------*/

  


  /*---------------------------------------
      Vaccine section           
  -----------------------------------------*/
/*
.vaccine-section {
  padding: 40px;
  background: #fff;
  text-align: center;
}

.vaccine-section h2 {
  font-size: 38px;
  margin-bottom: 20px;
  font-weight: bold;
}

.vaccine-section .highlight {
  color: orange;
  font-style: italic;
}

.heart-icon {
  color: red;
  margin-left: 15px;
  font-size: 20px;
  vertical-align: middle;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.tab {
  padding: 10px 18px;
  border: 1px solid #ccc;
  background: white;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: 500;
}

.tab.active {
  background: #54affaff;
  color: white;
  border-color: #54affaff;
}


.tab-content {
  max-width: 1200px;
  height: 100%;      
  min-height: 400px;  
  box-sizing: border-box;
  margin: 0 auto;
  border: 2px solid #34b4ed;
  border-radius: 16px;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.tab-content.active {
  display: flex;
}

.tab-left {
  flex: 1;
  max-width: 40%;
  box-sizing: border-box;
  transition: flex 0.3s ease; 
  background: linear-gradient(135deg, #34b4ed, #0666f7ff);
  color: #fff;
  padding: 25px;
  text-align: left;
}

.tab-left h3 {
  margin-bottom: 12px;
  font-weight: bold;
}

.tab-left p {
  padding-top: 10px;
  line-height: 1.6;
  color: #fff;
  text-align: justify;
}


.tab-right {
  flex: 2;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  flex-wrap: nowrap;
  gap: 16px;
  justify-content: flex-start;   
  overflow-x: auto;        
  overflow-y: hidden;       
  scroll-behavior: smooth;  
  box-sizing: border-box;
  padding: 20px;
  background: linear-gradient(135deg, #0666f7ff,#34b4ed);
}

.tab-right::-webkit-scrollbar {
  height: 8px; 
}
.tab-right::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.2);
  border-radius: 4px;
}

.vaccine-card {
  flex: 0 0 auto;    
  width: 230px;   
  height: 360px;
  background: white;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.vaccine-card img {
  width: 100%;
  max-height: 120px;
  object-fit: contain;
  margin: 10px 0;
}

.vaccine-card h4 {
  margin: 5px 0;
  font-size: 16px;
  font-weight: bold;
}

.vaccine-card .price {
  font-weight: bold;
  color: #ff6600;
  margin: 10px 0;
}

.vaccine-card button {
  background: #abe0ffff;
  border: none;
  color: white;
  padding: 8px 60px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
  color:#3267faff;
  font-weight: 500;
}

.vaccine-card button:hover {
  background: #3267faff;
  color: #fff;
}
.sun-icon {
  font-size: 44px;
  margin-right: 8px;
  vertical-align: middle;
}
*/
  /*---------------------------------------
      kiến thức tiêm chủng             
  -----------------------------------------*/

  
  /*---------------------------------------
     Footer        
  -----------------------------------------*/

  .footer {
 background: #f9f9f9;
  padding: 20px 0;
  margin-top: 40px;   /* tạo khoảng cách với phần tử phía trên */
  border-top: 1px solid #ddd;
  font-family: Arial, sans-serif;
  
}

.footer .container {

  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.footer-col {
  flex: 1;
  min-width: 220px;
  text-align: left;
}

.footer-col h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #1a237e;
  text-transform: uppercase;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col ul li a {
  text-decoration: none;
  color: #555;
  font-size: 14px;
  transition: color 0.3s;
}

.footer-col ul li a:hover {
  color: #0866ff;
}


.footer-col .social-links {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.footer-col .social-links a {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #0866ff;       /* màu xanh nền */
  color: #fff;               /* màu icon */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  transition: all 0.3s ease;
}

.footer-col .social-links a:hover {
  background: #fff;
  color: #0866ff;             /* icon xanh khi hover */
  border: 1px solid #0866ff;
}
/* Danh sách liên hệ */
.footer-col .contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-col .contact-info li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #555;
  font-size: 14px;
}

/* Icon liên hệ */
.footer-col .contact-info li i {
  font-size: 16px;
  color: #1624b7;       /* xanh chủ đạo */
  margin-right: 10px;
  min-width: 20px;      /* giữ khoảng cách đều */
  text-align: center;
}

/* Link trong email */
.footer-col .contact-info li a {
  color: #555;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-col .contact-info li a:hover {
  color: #0866ff;
}

.footer-bottom {
  margin-top: 20px;
  padding-top: 15px;
  border-top: 1px solid #ddd;
  text-align: center;
  font-size: 12px;
  color: #888a8c;
}

.footer-bottom strong {
  color: #888a8c;
  text-transform: uppercase;
    font-size: 12px;
}
.footer-bottom p{
  color: #888a8c;
  margin: 0;
    font-size: 12px;
}

  /*---------------------------------------
     RESPONSIVE STYLES              
  -----------------------------------------*/

  @media only screen and (max-width: 1200px) {
    h1 {
      font-size: 4em;
    }
    h2 {
      font-size: 2.5em;
    }
    h3 {
      font-size: 1.5em;
    }

    header {
      height: inherit;
    }
    header span.date-icon {
      border: 0;
      padding-right: 0;
      padding-left: 0;
    }
    header span.email-icon {
      padding-top: 0;
    }

    .navbar-default .navbar-nav li a {
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  @media only screen and (max-width: 992px) {
    .slider .item {
      background-position: center;
    }

    header {
      padding-bottom: 10px;
    }
    header .text-align-right {
      text-align: left;
    }
    header span {
      padding-top: 0;
      padding-left: 0;
      padding-bottom: 0;
    }
  }

  @media only screen and (max-width: 767px) {
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
      border-color: transparent;
    }
    .navbar-default .navbar-nav li.appointment-btn {
      margin-left: 15px;
    }
    .navbar-default .navbar-nav li a {
      display: inline-block;
      padding-top: 8px;
      padding-bottom: 8px;
    }

    .news-sidebar {
      margin-top: 2em;
    }

    #appointment-form {
      padding-top: 4em;
      padding-bottom: 4em;
    }

    footer {
      padding-top: 60px;
      padding-bottom: 0;
    }
    .footer-thumb {
      padding-bottom: 10px;
    }

    .border-top {
      text-align: center;
    }

    .copyright-text {
      margin-top: 10px;
    }

    .angle-up-btn {
      bottom: 10em;
    }
  }

  @media only screen and (max-width: 639px) {
    h1 {
      font-size: 3em;
      line-height: 1.2em;
    }
    h2 {
      font-size: 2.1em;
    }
    h4 {
      font-size: 1.4em;
    }

    #home h3 {
      font-size: 11px;
      letter-spacing: 1px;
    }

  }

